@import _root_.model.FeeResult
@(feeResult: FeeResult)

@main("Block reader") {

 <head> <meta http-equiv="refresh" content="30" /> </head>

 <style>
 table {
    border-collapse: collapse;
 }

 table, td, th {
    border: 1px solid black;
 }

 td, th {
     text-align: center;
 }
 </style>

 <h3>Median fee for a 226 bytes transaction in USD (at $@{feeResult.usdPrice}/BTC, last 2h, processed within 0-1 blocks):</h3>
 <h1>$@{feeResult.feePer226BytesUsd}</h1>

 <h3>Last 24h:</h3>
    <ul>
         <li>Blocks: @{feeResult.topBlock}-@{feeResult.bottomBlock}</li>
         <li>Transactions: @{feeResult.transactionsLast24h}</li>
         <li>Transactions (0-1 blocks): @{feeResult.transactionsLast24h01Blocks}</li>
         <li>Median fee per byte: @{feeResult.medianFeePerByteLast24h} satoshis</li>
         <li>Median fee per byte (0-1 blocks): @{feeResult.medianFeePerByteLast24h01Blocks} satoshis</li>
    </ul>

 <h3>Last 2h:</h3>
    <ul>
         <li>Blocks: @{feeResult.topBlock}-@{feeResult.bottomBlock2h}</li>
         <li>Transactions: @{feeResult.transactionsLast2h}</li>
         <li>Transactions (0-1 blocks): @{feeResult.transactionsLast2h01Blocks}</li>
         <li>Median fee per byte: @{feeResult.medianFeePerByteLast2h} satoshis</li>
         <li>Median fee per byte (0-1 blocks): @{feeResult.medianFeePerByteLast2h01Blocks} satoshis</li>
    </ul>

    <table>
        <thead>
            <tr>
                <th>time GMT</th>
                <th>median fee in satoshis per byte, 0-1 blocks</th>
            </tr>
        </thead>
        <tbody>
        @for((period, fee) <- feeResult.last2hPeriods) {
            <tr>
                <td>@period</td>
                <td>@fee.toString</td>
            </tr>
        }
        </tbody>
    </table>

}
