@import _root_.model.FeeResult
@(feeResult: FeeResult)

@main("BTC Fee") {


 <link rel="stylesheet" href="@routes.Assets.versioned("bootstrap/css/bootstrap.css")">
 <script type='text/javascript' src='@routes.Assets.versioned("bootstrap/js/bootstrap.js")'></script>

 <style>
 table {
    border-collapse: collapse;
 }

 table, td, th {
    border: 1px solid black;
 }

 td, th {
     text-align: center;
 }
 </style>

    <div class="container">
        <h3>Median fee for a 226 byte Bitcoin transaction (at $@{feeResult.usdPrice}/BTC)</h3>
        <h6>(last 2h, confirmed within 20 minutes)</h6>
    </div>

    <div class="container">
    <table class="table table-dark">
        <tbody>
            <tr>
                <td>$@{feeResult.feePer226BytesUsd}</td>
            </tr>
            <tr>
                <td>@{feeResult.feePer226BytesBtc} BTC</td>
            </tr>
        </tbody>
    </table>
    </div>


    <div class="container">
    <h3>Median fee per byte</h3>
    <h6>(last 2h, confirmed within 20 minutes)</h6>
    <table class="table table-dark">
        <tbody>
            <tr>
                <td>@{feeResult.medianFeePerByteLast2h01Blocks} satoshis</td>
            </tr>
            <tr>
                <td>$@{feeResult.feePerByteUsd}</td>
            </tr>
        </tbody>
    </table>
    </div>

 <div class="container">
    <h3>Last 2h</h3>
    <table class="table table-dark table-sm">
        <thead>
            <tr>
            <th scope="col">Blocks</th>
            <th scope="col">Total transactions</th>
            <th scope="col">Transactions confirmed within 20 minutes</th>
            <th scope="col">Median fee per byte</th>
            <th scope="col">Median fee per byte (confirmed within 20 minutes)</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>@{feeResult.topBlock}-@{feeResult.bottomBlock2h}</td>
            <td>@{feeResult.transactionsLast2h}</td>
            <td>@{feeResult.transactionsLast2h01Blocks}</td>
            <td>@{feeResult.medianFeePerByteLast2h} satoshis</td>
            <td>@{feeResult.medianFeePerByteLast2h01Blocks} satoshis</td>
        </tr>
        </tbody>
    </table>
 </div>

    <div class="container">
        <h3>Last 24h</h3>
        <table class="table table-dark table-sm">
            <thead>
                <tr>
                    <th scope="col">Blocks</th>
                    <th scope="col">Total transactions</th>
                    <th scope="col">Transactions confirmed within 20 minutes</th>
                    <th scope="col">Median fee per byte</th>
                    <th scope="col">Median fee per byte (confirmed within 20 minutes)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@{feeResult.topBlock}-@{feeResult.bottomBlock}</td>
                    <td>@{feeResult.transactionsLast24h}</td>
                    <td>@{feeResult.transactionsLast24h01Blocks}</td>
                    <td>@{feeResult.medianFeePerByteLast24h} satoshis</td>
                    <td>@{feeResult.medianFeePerByteLast24h01Blocks} satoshis</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="container">
        <h3>Last 24h by 2h</h3>
    <table class="table table-dark table-sm">
        <thead>
            <tr>
                <th scope="col">time GMT</th>
                <th scope="col">median fee per byte in satoshis (confirmed within 20 minutes)</th>
            </tr>
        </thead>
        <tbody>
        @for((period, fee) <- feeResult.last2hPeriods) {
            <tr>
                <td>@period</td>
                <td>@fee.toString</td>
            </tr>
        }
        </tbody>
    </table>
    <p>Data and exchange rate from <a href="https://blockchain.info">Blockchain</a></p>
    </div>

}
