@import _root_.model.RichBlocks

@(message: String, richBlocks: RichBlocks, count: Long)

@main("Block reader") {

 <head> <meta http-equiv="refresh" content="30" /> </head>

 <h1>@count (@richBlocks.blocks.headOption.map(_.blockId.height))</h1>
 <h2>Total avg fee per byte no wait: @{richBlocks.totalAvgFeePerByteNoWait}</h2>
 <h1>Last 24h median fee per byte no wait: @{richBlocks.last24hMedianFeePerByteNoWait}</h1>
 <h1>Last 2h median fee per byte no wait: @{richBlocks.last2hMedianFeePerByteNoWait}</h1>
 <h1>Total median: @{richBlocks.totalMedian}</h1>

 <table>
  <thead>
   <tr>
    <th>height</th>
    <th>time</th>
    <th>sum fees</th>
    <th>avg fee</th>
    <th>median fee</th>
    <th>max fee</th>
    <th>hash</th>
   </tr>
  </thead>
  <tbody>
  @for(blockentry <- richBlocks.blocks) {
   <tr>
    <td>@blockentry.blockId.height</td>
    <td>@blockentry.blockId.time</td>
    <td>@{BigDecimal(blockentry.block.sumFees) / BigDecimal(100000000)}</td>
    <td>@{BigDecimal(blockentry.block.avgFee) / BigDecimal(100000000)}</td>
    <td>@{BigDecimal(blockentry.block.medianFee) / BigDecimal(100000000)}</td>
    <td>@{BigDecimal(blockentry.block.maxFee) / BigDecimal(100000000)}</td>
    <td><a href=@{s"/block/${blockentry.blockId.hash}"}>@blockentry.blockId.hash</a></td>
   </tr>
 }
  </tbody>
 </table>
}
