@import _root_.model.RichBlocks

@(message: String, richBlocks: RichBlocks)

@main("Welcome to Play") {

 <head> <meta http-equiv="refresh" content="20" /> </head>

 <h1>@richBlocks.counter</h1>
 <h2>Avg of avg fee per byte: @{richBlocks.avgAvgFeePerByte}</h2>
 <h2>Median of median fee per byte: @{richBlocks.medianMedianFeePerByte}</h2>
 <h2>Avg of avg fee per byte no wait: @{richBlocks.avgAvgFeePerByteNoWait}</h2>
 <h2>Median of median fee per byte no wait: @{richBlocks.medianMedianFeePerByteNoWait}</h2>
 <h2>Avg of avg fee per byte wait one: @{richBlocks.avgAvgFeePerByteWaitOne}</h2>
 <h2>Total avg fee per byte no wait: @{richBlocks.totalAvgFeePerByteNoWait}</h2>
 <h1>Total median fee per byte no wait: @{richBlocks.totalMedianFeePerByteNoWait}</h1>

 <table>
  <thead>
   <tr>
    <th>height</th>
    <th>time</th>
    <th>sum fees</th>
    <th>avg fee</th>
    <th>median fee</th>
    <th>max fee</th>
    <th>sum outputs</th>
    <th>avg size</th>
    <th>min size</th>
    <th>max size</th>
    <th>median size</th>
    <th>avg fee per byte</th>
    <th>avg fee per byte no wait</th>
    <th>avg fee per byte wait one</th>
    <th>hash</th>
   </tr>
  </thead>
  <tbody>
  @for(blockentry <- richBlocks.blocks) {
   <tr>
    <td>@blockentry.blockEntry.height</td>
    <td>@blockentry.blockEntry.time</td>
    <td>@{BigDecimal(blockentry.block.sumFees) / BigDecimal(100000000)}</td>
    <td>@{BigDecimal(blockentry.block.avgFee) / BigDecimal(100000000)}</td>
    <td>@{BigDecimal(blockentry.block.medianFee) / BigDecimal(100000000)}</td>
    <td>@{BigDecimal(blockentry.block.maxFee) / BigDecimal(100000000)}</td>
    <td>@{BigDecimal(blockentry.block.sumOutputs) / BigDecimal(100000000)}</td>
    <td>@{blockentry.block.avgSize}</td>
    <td>@{blockentry.block.minSize}</td>
    <td>@{blockentry.block.maxSize}</td>
    <td>@{blockentry.block.medianSize}</td>
    <td>@{blockentry.block.avgFeePerByte}</td>
    <td>@{blockentry.block.avgFeePerByteNoWait}</td>
    <td>@{blockentry.block.avgFeePerByteWaitOne}</td>
    <td><a href=@{s"/block/${blockentry.blockEntry.hash}"}>@blockentry.blockEntry.hash</a></td>
   </tr>
 }
  </tbody>
 </table>
}
