@import _root_.model.Block

@(message: String, block: Block)

@main("Welcome to Play") {

 <h2>all fees: @{BigDecimal(block.sumFees) / BigDecimal(100000000)}</h2>
 <h2>avg fee: @{BigDecimal(block.avgFee) / BigDecimal(100000000)}</h2>
 <h2>median fee: @{BigDecimal(block.medianFee) / BigDecimal(100000000)}</h2>
 <h2>max fee: @{BigDecimal(block.maxFee) / BigDecimal(100000000)}</h2>
 <h2>min fee: @{BigDecimal(block.minFee) / BigDecimal(100000000)}</h2>
 <h2>num transactions: @block.n_tx</h2>
 <h2>sum outputs: @{BigDecimal(block.sumOutputs) / BigDecimal(100000000)}</h2>
 <table>
  <thead>
   <tr>
    <th>inputs</th>
    <th>outputs</th>
    <th>fees</th>
    <th>num outputs</th>
    <th>hash</th>
   </tr>
  </thead>
  <tbody>
  @for(transaction <- block.tx) {
   <tr>
    <td>@{BigDecimal(transaction.sumInputs) / BigDecimal(100000000)}</td>
    <td>@{BigDecimal(transaction.sumOutputs) / BigDecimal(100000000)}</td>
    <td>@{BigDecimal(transaction.fees) / BigDecimal(100000000)}</td>
    <td>@transaction.numOutputs</td>
    <td>@transaction.hash</td>
   </tr>
 }
  </tbody>
 </table>

}
